@attribute [Route(Routes.Dashboard)]
@inject IHxMessengerService ToastService
@inject IApiService ApiService
@inject IAuthenticationService AuthService
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorageService
@inject ICacheHelperService CacheHelperService
@using System.Diagnostics

<PageTitle>Dashboard: Verwalte deine Serien</PageTitle>
<div class="container">
    <div class="mb-3">
        <EditForm Model="@SeriesSearch" OnValidSubmit="@(() => SearchSeriesDashboard())">
            <div class="row">
                <div class="col-12 col-md-8">
                    <HxInputText @ref="@SearchInput" Label="Serien Name" @bind-Value="@SearchSeriesName" Placeholder="Jujutsu Kaisen" />
                </div>
                <div class="col-12 col-md-4 d-flex align-items-center">
                    <div>
                        <div class="mt-4 d-none d-md-block"></div>
                        <div class="mt-3 d-sm-block"></div>
                        <input disabled id="chbSearchSeries" type="checkbox" class="form-check-input" checked />
                        <label for="chbSearchSeries" class="ps-1">Serien</label>
                        <input disabled id="chbSearchFilms" type="checkbox" class="form-check-input ms-2" /> <!--@SearchFilms-->
                        <label for="chbSearchFilms" class="ps-1 text-secondary">Filme</label>
                    </div>
                </div>
            </div>
            <HxSubmit Color="ThemeColor.Primary" CssClass="w-100" Spinner="Loading" Enabled="@(!Loading)">Serie suchen</HxSubmit>
        </EditForm>
    </div>
    <div class="row justify-content-between">
        <div class="col-sm-6 col-md-6 col-lg-4 pb-2 d-none d-sm-block">
            <h3 class="d-inline">Dashboard</h3>
            @if (UserSeries is not null && !Loading)
            {
                <HxBadge CssClass="ms-3 d-none d-md-inline-block me-2" Color="ThemeColor.Success">@(UserSeries.Count)x</HxBadge>
                <div class="d-none d-lg-inline-block">
                    <HxIcon CssClass="opacity-25" Icon="BootstrapIcon.Stopwatch"></HxIcon>
                    <small class="opacity-25">@($"{RequestDuration:s\\.fff}s")</small>
                </div>
            }
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center">
            <div class="d-inline">
                <HxButton CssClass="d-inline" @onclick="@(() => ShowPopularSeries = !ShowPopularSeries)" Spinner="@LoadingPopularSeries" Enabled="@(!Loading)" Color="ThemeColor.Dark" Icon="@(ShowPopularSeries ? BootstrapIcon.XLg : BootstrapIcon.App)">Beliebte Serien und Anime</HxButton>
            </div>
            <div class="d-block d-lg-none mb-2">
            </div>
        </div>
        <div class="col-12 col-lg-4 text-center">
            <div class="d-inline float-lg-end">
                <HxButton Size="ButtonSize.Small" OnClick="SelectDateSorting" CssClass="d-inline" Color="@(SortingDateSelected ? ThemeColor.Warning : ThemeColor.Secondary)">Datum</HxButton>
                <span class="d-inline">|</span>
                <HxButton Size="ButtonSize.Small" OnClick="SelectNameSorting" CssClass="d-inline" Color="@(SortingNameSelected ? ThemeColor.Warning : ThemeColor.Secondary)">Name</HxButton>
                <span class="d-inline">|</span>
                <HxButton Size="ButtonSize.Small" OnClick="SelectHosterSorting" CssClass="d-inline" Color="@(SortingHosterSelected ? ThemeColor.Warning : ThemeColor.Secondary)">Hoster</HxButton>
            </div>
        </div>
    </div>
    @if (ShowEmptyDashboardInfo)
    {
        <HxAlert Color="ThemeColor.Info" CssClass="mt-4">
            <HxIcon Icon="@BootstrapIcon.ExclamationCircleFill" />
            Es sieht so aus als hättest du noch keine Serien hinzugefügt! Starte eine Suche und füge deine erste Serie hinzu!
        </HxAlert>
    }
    @if (ShowPopularSeries)
    {
        <SeriesSearchResultsComponent SearchResults="@PopularSeries" Referer="@Routes.Dashboard"></SeriesSearchResultsComponent>
    }
    <div class="row justify-content-center">
        @if (UserSeries is not null)
        {
            foreach (SeriesModel series in UserSeries)
            {
                <HxCard 
                        style="width: 245px;"
                        CssClass="mt-3 mx-2 glass border-0 px-2"
                        HeaderCssClass="bg-transparent border border-0"
                BodyCssClass="p-0">
                    <HeaderTemplate>
                        @switch (series.StreamingPortal)
                        {
                            case StreamingPortal.AniWorld:
                                <div class="text-warning fw-light text-center" style="font-family: 'Roboto', sans-serif;"><HxIcon CssClass="px-2 fs-4 align-middle" Icon="BootstrapIcon.Cloud"></HxIcon>AniWorld</div>
                                break;
                            case StreamingPortal.STO:
                                <div class="text-warning fw-light text-center" style="font-family: 'Roboto', sans-serif;"><HxIcon CssClass="px-2 fs-4 align-middle" Icon="BootstrapIcon.Cloud"></HxIcon>S.TO</div>
                                break;
                            case StreamingPortal.MegaKino:
                                <div class="text-warning fw-light text-center" style="font-family: 'Roboto', sans-serif;"><HxIcon CssClass="px-2 fs-4 align-middle" Icon="BootstrapIcon.Cloud"></HxIcon>MegaKino</div>
                                break;
                            default:
                                break;
                        }                        
                    </HeaderTemplate>
                    <BodyTemplate>
                        <img loading="lazy" src="@series.CoverArtUrl" style="width: 100%; height: 330px;" class="rounded" />
                        <div class="px-2 pt-3 pb-3">
                            <HxCardTitle CssClass="text-center">@series.Name</HxCardTitle>
                            <HxCardSubtitle CssClass="mt-2">
                                <HxButton OnClick="@(() => NavigateToDetail(series))" Spinner="@Loading" Enabled="@(!Loading)" Color="ThemeColor.Primary" Icon="BootstrapIcon.Forward" CssClass="w-100 mt-2">Anzeigen</HxButton>
                                @if (!series.IsSearchResult)
                                {
                                    <HxButton OnClick="@(() => RemoveReminder(series.Path))" Spinner="@Loading" Enabled="@(!Loading)" Color="ThemeColor.Warning" Outline="true" Icon="BootstrapIcon.XCircleFill" CssClass="w-100 mt-2">Entfernen</HxButton>
                                }
                            </HxCardSubtitle>
                        </div>
                    </BodyTemplate>
                </HxCard>
            }
        }
        else if (UserSeries is null && Loading)
        {
            <div class="mt-4 d-flex align-items-center justify-content-center text-secondary">
                <HxSpinner Size="SpinnerSize.Regular"></HxSpinner>
                <span class="ps-3 fs-5">Reminder Daten abrufen...</span>
            </div>
        }
    </div>
</div>

@code {
    private bool SortingNameSelected { get; set; } = false;
    private bool SortingHosterSelected { get; set; } = false;
    private bool SortingDateSelected { get; set; } = true;

    private bool SearchSeries { get; set; } = true;
    private bool SearchFilms { get; set; } = false;
    private bool ShowEmptyDashboardInfo { get; set; }

    private bool IsSearchView { get; set; } = false;

    private List<SeriesModel>? UserSeries { get; set; }

    private bool Loading { get; set; }
    private bool LoadingPopularSeries { get; set; }

    private SeriesSearchModel SeriesSearch = new();
    private List<SearchResultModel>? PopularSeries = new();

    private TimeSpan RequestDuration { get; set; } = TimeSpan.Zero;

    private string? SearchSeriesName;

    private bool ShowPopularSeries { get; set; }

    private HxInputText? SearchInput;

    private bool CacheUpdateNeeded { get; set; } = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await SearchInput!.FocusAsync();

        await AuthService.Initialize();

        if (AuthService.User is null)
        {
            NavigationManager.NavigateTo(Routes.Index);
            return;
        }

        if (firstRender)
        {
            Stopwatch stopwatch = Stopwatch.StartNew();

            Loading = true;
            StateHasChanged();

            await LoadPopularSeries();

            // MediaSearchOptionsModel? mediaSearchOptions = await LocalStorageService.GetItem<MediaSearchOptionsModel>("MediaSearchOptions");

            // if (mediaSearchOptions is not null)
            // {
            //     SearchSeries = mediaSearchOptions.SearchSeries;
            //     SearchFilms = mediaSearchOptions.SearchFilms;
            // }

            string cachePath = $"UserSeries@{AuthService.User.Token}";
            UserSeries = await CacheHelperService.GetCacheAsync<List<SeriesModel>>(cachePath);

            if (UserSeries is null)
            {
                UserSeries = await ApiService.GetAsync<List<SeriesModel>?>("getAllUserSeries");
                await CacheHelperService.SetCacheAsync(cachePath, UserSeries, 30);

                CacheUpdateNeeded = false;
            }

            if (UserSeries is not null)
            {
                UserSeries = UserSeries.OrderByDescending(_ => _.Added).ThenByDescending(_ => _.Id).ToList();
                CacheUpdateNeeded = true;
            }
            else
            {
                ShowEmptyDashboardInfo = true;
            }

            stopwatch.Stop();
            RequestDuration = TimeSpan.FromMilliseconds(stopwatch.ElapsedMilliseconds);

            Loading = false;
            StateHasChanged();

            UpdateUserSeriesCache();
        }

        MediaSearchOptionsModel mediaSearchOptionsNew = new()
            {
                SearchFilms = this.SearchFilms,
                SearchSeries = this.SearchSeries
            };

        //await LocalStorageService.SetItem("MediaSearchOptions", mediaSearchOptionsNew);
    }

    private async Task UpdateUserSeriesCache()
    {
        if (!CacheUpdateNeeded || AuthService.User is null)
            return;

        string cachePath = $"UserSeries@{AuthService.User.Token}";

        List<SeriesModel> updatedUserSeries = await ApiService.GetAsync<List<SeriesModel>?>("getAllUserSeries");

        List<SeriesModel> diffUserSeries1 = UserSeries.Except(updatedUserSeries, new SeriesEqualityComparer()).ToList();
        List<SeriesModel> diffUserSeries2 = updatedUserSeries.Except(UserSeries, new SeriesEqualityComparer()).ToList();

        if (diffUserSeries1.Count > 0)
        {
            foreach (SeriesModel series in diffUserSeries1)
            {
                UserSeries.Remove(series);
            }
        }

        if (diffUserSeries2.Count > 0)
        {
            UserSeries.AddRange(diffUserSeries2);
        }

        await CacheHelperService.SetCacheAsync(cachePath, UserSeries, 10);

        UserSeries = UserSeries.OrderByDescending(_ => _.Added).ThenByDescending(_ => _.Id).ToList();

        StateHasChanged();
    }

    private async Task RemoveReminder(string seriesPath)
    {
        ToastService.Clear();
        Loading = true;
        StateHasChanged();

        bool deleteSuccess = await ApiService.GetAsync<bool>("removeReminder", new() { { "seriesPath", seriesPath } });

        if (deleteSuccess)
        {
            if (!IsSearchView)
            {
                UserSeries?.RemoveAll(_ => _.Path == seriesPath);
            }
            else
            {
                UserSeries?.Where(_ => _.Path == seriesPath).ToList().ForEach(x => x.IsSearchResult = true);
            }

            ToastService.AddMessage("Der Reminder wurde gelöscht!", MessageType.Info);
        }
        else
        {
            ToastService.AddMessage("Beim löschen des Reminders ist ein Fehler aufgetreten und konnte nicht gelöscht werden!", MessageType.Error);
        }

        Loading = false;
        StateHasChanged();
    }

    private void NavigateToDetail(SeriesModel series)
    {
        NavigationManager.NavigateTo(Routes.MediaDetail + $"{series.Path}?referer={Routes.Dashboard}&hoster={series.StreamingPortal}");
    }

    private async Task SearchSeriesDashboard()
    {
        Stopwatch stopwatch = Stopwatch.StartNew();
        List<SeriesModel> allResults = new();

        if (!string.IsNullOrEmpty(SearchSeriesName))
        {
            allResults.AddRange(UserSeries.Where(_ => _.Name.ToLower().Contains(SearchSeriesName.ToLower())).ToList());
        }

        UserSeries?.Clear();

        if (string.IsNullOrWhiteSpace(SearchSeriesName))
        {
            Loading = true;
            StateHasChanged();

            stopwatch = Stopwatch.StartNew();

            UserSeries = await ApiService.GetAsync<List<SeriesModel>?>("getAllUserSeries");

            stopwatch.Stop();
            RequestDuration = TimeSpan.FromMilliseconds(stopwatch.ElapsedMilliseconds);

            Loading = false;

            IsSearchView = false;
            SelectDateSorting();

            return;
        }

        IsSearchView = true;

        allResults.AddRange(UserSeries.Where(_ => _.Name.ToLower().Contains(SearchSeriesName.ToLower())).ToList());

        Loading = true;
        StateHasChanged();

        MediaType searchMediaType = (SearchSeries ? MediaType.Series : MediaType.Undefined); // | (SearchFilms ? MediaType.Films : MediaType.Undefined)

        List<SearchResultModel>? apiSearchResults = await ApiService.GetAsync<List<SearchResultModel>?>("getSeries",
                                                    new() {
                                                        { "seriesName", SearchSeriesName.ToLower() },
                                                        { "mediaType", searchMediaType.ToString() }
                                                                                                                                                        });

        foreach (SearchResultModel searchResult in apiSearchResults)
        {
            SeriesModel series = new()
                {
                    Name = searchResult.Name,
                    CoverArtUrl = searchResult.CoverArtUrl,
                    IsSearchResult = true,
                    Link = searchResult.Link,
                    Path = searchResult.Path,
                    StreamingPortal = searchResult.StreamingPortal
                };

            allResults.Add(series);
        }

        UserSeries = allResults.DistinctBy(_ => _.Name.ToLower()).ToList();

        Loading = false;
        SelectHosterSorting();

        stopwatch.Stop();
        RequestDuration = TimeSpan.FromMilliseconds(stopwatch.ElapsedMilliseconds);
    }

    private void SelectNameSorting()
    {
        SortingNameSelected = true;
        SortingHosterSelected = false;
        SortingDateSelected = false;

        UserSeries = UserSeries.OrderBy(_ => _.Name).ToList();

        StateHasChanged();
    }

    private void SelectHosterSorting()
    {
        SortingNameSelected = false;
        SortingHosterSelected = true;
        SortingDateSelected = false;

        UserSeries = UserSeries.OrderBy(_ => _.StreamingPortal).ToList();

        StateHasChanged();
    }

    private void SelectDateSorting()
    {
        SortingNameSelected = false;
        SortingHosterSelected = false;
        SortingDateSelected = true;

        UserSeries = UserSeries.OrderByDescending(_ => _.Added).ThenByDescending(_ => _.Id).ToList();

        StateHasChanged();
    }

    private async Task LoadPopularSeries()
    {
        LoadingPopularSeries = true;
        StateHasChanged();

        List<SearchResultModel>? cachedPopularSeries = await CacheHelperService.GetCacheAsync<List<SearchResultModel>>(nameof(PopularSeries));

        if (cachedPopularSeries is not null && cachedPopularSeries.Count > 0)
        {
            PopularSeries = cachedPopularSeries;
        }
        else
        {
            PopularSeries = await ApiService.GetAsync<List<SearchResultModel>?>("getPopular");
            await CacheHelperService.SetCacheAsync(nameof(PopularSeries), PopularSeries, 30);
        }

        LoadingPopularSeries = false;
        StateHasChanged();
    }
}


