@using System.Web
@inject NavigationManager NavManager
@inject IHxMessengerService ToastService
@inject IApiService ApiService
@inject NavigationManager NavigationManager

<div class="row justify-content-center pb-2">
    @foreach (SearchResultModel searchResult in SearchResults)
    {
        <HxCard ImageAlt=""
                ImageSrc="@searchResult.CoverArtUrl"
                ImageHeight="330"
                style="width: 245px;"
                CssClass="mt-3 mx-2 px-2 rounded glass border-0"
                HeaderCssClass="bg-transparent border border-0">
            <HeaderTemplate>
                @switch (searchResult.StreamingPortal)
                {
                    case StreamingPortal.AniWorld:
                        <div class="text-warning fw-light text-center" style="font-family: 'Roboto', sans-serif;"><HxIcon CssClass="px-2 fs-4 align-middle" Icon="BootstrapIcon.Cloud"></HxIcon>AniWorld</div>
                        break;
                    case StreamingPortal.STO:
                        <div class="text-warning fw-light text-center" style="font-family: 'Roboto', sans-serif;"><HxIcon CssClass="px-2 fs-4 align-middle" Icon="BootstrapIcon.Cloud"></HxIcon>S.TO</div>
                        break;
                    case StreamingPortal.MegaKino:
                        <div class="text-warning fw-light text-center" style="font-family: 'Roboto', sans-serif;"><HxIcon CssClass="px-2 fs-4 align-middle" Icon="BootstrapIcon.Cloud"></HxIcon>MegaKino</div>
                        break;
                    default:
                        break;
                }
            </HeaderTemplate>
            <BodyTemplate>
                <HxCardTitle CssClass="text-center">@searchResult.Name</HxCardTitle>
                <HxCardSubtitle CssClass="mt-2">
                    <HxButton OnClick="@(() => NavigateToDetail(searchResult))" Spinner="@Loading" Enabled="@(!Loading)" Color="ThemeColor.Primary" Icon="BootstrapIcon.Forward" CssClass="w-100 mt-2">Anzeigen</HxButton>                    
                </HxCardSubtitle>
            </BodyTemplate>
        </HxCard>
    }
</div>

@code {
    [Parameter]
    public List<SearchResultModel> SearchResults { get; set; }

    private bool Loading { get; set; }

    private void NavigateToDetail(SearchResultModel searchResult)
    {
        NavigationManager.NavigateTo(Routes.MediaDetail + $"{searchResult.Path}?referer={Routes.Index}&hoster={searchResult.StreamingPortal}");
    }
}
